<nav class="navbar main-menu navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">

  <div class="container">





      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1 navigation justify-content-center">
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink=''>Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white"  routerLink="/login">Members Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink='/rules-regulations' routerLinkActive="router-link-active"  >Rules & Regulation</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white"  href="">Downloads</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white"  routerLink="/managing-commitee">Managing committee</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white"  href="">Claims settled</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/contact-us" >Contact Us</a>
              </li>
          </ul>
      </div>



  </div>
</nav>
