nav {
  background-color: #2e618c;
}
.main-menu .navigation > li{
  position: relative;
  float: left;
  padding: 8px 2px;
  margin-right: 2px;
  border-right: 2px solid #27a0ce;
}
.nav-item a:hover {
  color: orange !important;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
