        body {
            background-color: #b8d6e2 !important;
        }

        .contact {
            padding: 5%;
        }

        .col-md-5 {
            background: #2e618c;
            color: white;
            padding: 4%;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        .contact-info {
            margin-top: 10%;
        }

            .contact-info img {
                margin-bottom: 15%;
            }

            .contact-info h2 {
                margin-bottom: 10%;
            }

        .col-md-7 {
            background: #fff;
            padding: 3%;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        .contact-form label {
            font-weight: 600;
        }

        .contact-form button {
            background: #2e618c;
            color: #fff;
            font-weight: 600;
            width: 25%;
        }

            .contact-form button:focus {
                box-shadow: none;
            }

        h3 {
            font-weight: bold;
        }

        p {
            font-size: 13px;
            font-weight: bold;
        }

        h5 {
            font-size: 15px;
        }

        .small-text {
            font-size: 12px;
        }
