<h1 mat-dialog-title>Add New Designation</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm" >
    <p>
        <mat-form-field appearance="outline" style="width: 40%;">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="name">
           <mat-hint>Name of Designation</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Description</mat-label>
          <input formControlName="description" matInput placeholder="description">
           <mat-hint>Designation Description</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-checkbox formControlName="isActive" class="example-margin">Active ?</mat-checkbox>
      </p>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button  mat-raised-button color="primary" (click)="SubmitAction()">{{ActionBtnString}}</button>
</div>