<mat-progress-bar mode="indeterminate"   *ngIf="loadingService.IsLoading"></mat-progress-bar>
<app-admin-area-top-nav *ngIf="IsLogged"></app-admin-area-top-nav>
<alert></alert>
<app-kidu-confirm-box></app-kidu-confirm-box>
<router-outlet></router-outlet>

<div class="container">
    <div style="padding: 10px">
      <button mat-raised-button (click)="openDialogOne()" color="primary">Open Dialog One</button>
    </div>
    <div style="padding: 10px">
      <button mat-raised-button (click)="openDialogTwo()" color="warn">Open Dialog Two</button>
    </div>
  </div>