

<section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1"> OUR TEAM</h5>
      <div class="row">


              <!-- Team member -->
                              <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of  Model;">
                                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                      <div class="mainflip">
                                          <div class="frontside">
                                              <div class="card">
                                                  <div class="card-body text-center">
                                                      <p> <img class=" img-fluid" src="https://www.cbeugjfws.co.in/images/managing-committe-img.jpg" alt="card image"> </p>
                                                      <h4 class="card-title"> {{item.name}} </h4>
                                                      <p class="card-text"> <span style="color:#2e618c;"> {{item.position}}</span>   </p>
                                                      <a href=" " class="btn btn-primary btn-sm"> <i class="fa fa-plus"> </i> </a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="backside">
                                              <div class="card">
                                                  <div class="card-body text-center mt-4">
                                                      <h4 class="card-title">  {{item.name}} </h4>
                                                      <p class="card-text"> {{item.description1}}</p>
                                                      <ul class="list-inline">
                                                          <li class="list-inline-item">
                                                              <a class="social-icon text-xs-center" target="_blank" href=" ">
                                                                  <i class="fa fa-facebook"> </i>
                                                              </a>
                                                          </li>
                                                          <li class="list-inline-item">
                                                              <a class="social-icon text-xs-center" target="_blank" href=" ">
                                                                  <i class="fa fa-twitter"> </i>
                                                              </a>
                                                          </li>
                                                          <li class="list-inline-item">
                                                              <a class="social-icon text-xs-center" target="_blank" href=" ">
                                                                  <i class="fa fa-skype"> </i>
                                                              </a>
                                                          </li>
                                                          <li class="list-inline-item">
                                                              <a class="social-icon text-xs-center" target="_blank" href=" ">
                                                                  <i class="fa fa-google"> </i>
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div> <!-- ./Team member -->

                           <!-- Team member -->

      </div>
  </div>
</section>
