<h1>Angular 14 Alerts</h1>

<div class="my-4">
    <button class="btn btn-success m-1" (click)="alertService.success('Success!!', options)">Success</button>
    <button class="btn btn-danger m-1" (click)="alertService.error('Error :(', options)">Error</button>
    <button class="btn btn-info m-1" (click)="alertService.info('Some info....', options)">Info</button>
    <button class="btn btn-warning m-1" (click)="alertService.warn('Warning: ...', options)">Warn</button>
    <button class="btn btn-outline-dark m-1" (click)="alertService.clear()">Clear</button>
</div>
