<button
  style="margin: 25px; padding: 10px; font-size: xx-small"
  type="button"
  class="btn btn-primary"
  (click)="openPopup()"
>
  {{ PickupProperties?.ButtonText }}
</button>
<div style="font-size: small">

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyle }"
  >

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title">{{ PickupProperties?.DisplayHeader }}</h5>

        </div>

        <div class="modal-body">

          <div class="form-group">

            <input type="text" class="form-control" id="txtSearchname" />

          </div>

          <hr />

          <div class="form-group">

            <table class="table table-striped table-bordered table-responsive">

              <thead>

                <tr>

                  <th
                    *ngFor="
                      let Headeritem of PickupProperties.DisplayHeaderitem
                    "
                  >
                    {{ Headeritem }}
                  </th>

                  <th>Action</th>

                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let item of PickupProperties.DataSource">

                  <td *ngFor="let colitem of PickupProperties.DisplayColitem">
                   {{ item[colitem] }}
                  </td>

                  <td>
                    <button
                      class="btn btn-primary"
                      (click)="SelectAction(item)"
                    >
                      <i class="fa fa-home"></i>Select
                    </button>
                  </td>

                </tr>

              </tbody>

            </table>

          </div>

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close</button
          >
        </div>

      </div>

    </div>

  </div>
</div>
