<h1 mat-dialog-title>Add New Status</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm" >
    <p>
        <mat-form-field appearance="outline" style="width: 40%;">
          <mat-label>Code</mat-label>
          <input formControlName="abbreviation" matInput placeholder="Code">
           <mat-hint>Abbreviation of Status</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 60%;">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name">
           <mat-hint>Status Name</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Description</mat-label>
          <input formControlName="description" matInput placeholder="description">
           <mat-hint>Status Description</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 40%;">
          <mat-label>Group</mat-label>
          <input formControlName="groupCode" matInput placeholder="Code">
           <mat-hint>Group of Status</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-checkbox formControlName="isActive" class="example-margin">Active ?</mat-checkbox>
      </p>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button  mat-raised-button color="primary" (click)="SubmitAction()">{{ActionBtnString}}</button>
</div>